In [1]:
from gensim.models import Word2Vec
from konlpy.tag import Komoran
import time
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\ITSC\Desktop\project\08.DL\data\nsmc\ratings.txt', sep = '\t')

In [3]:
df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [4]:
df.shape

(200000, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        200000 non-null  int64
 1   document  199992 non-null  object
 2   label     200000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

- 결측치가 있으니 제거를 해야 함

In [6]:
df = df.dropna()

In [7]:
df.head()

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [8]:
df.shape

(199992, 3)

In [9]:
komoran = Komoran()

In [10]:
%%time
# 문장 단위로 명사만 추출해 학습 입력 데이터로 만듦 
docs = df['document'].map(lambda x: komoran.nouns(x))

CPU times: total: 2min 11s
Wall time: 1min 54s

In [12]:
df.iloc[-1]

id                  8548411
document    포풍저그가나가신다영차영차영차
label                     0
Name: 199999, dtype: object

In [11]:
docs

0                                                       [때]
1         [디자인, 학생, 외국, 디자이너, 전통, 발전, 문화, 산업, 사실, 우리나라, ...
2                                    [폴리스, 스토리, 시리즈, 뉴, 최고]
3                                [연기, 것, 라고, 생각, 몰입, 영, 화지]
4                                        [안개, 밤하늘, 초승달, 영화]
                                ...
199995                                         [포켓, 몬스터, 짜]
199996                                                   []
199997                            [완전, 사이코, 영화, 마지막, 영화, 질]
199998                                          [라따뚜이, 스머프]
199999                       [포, 풍, 저그, 가나, 신다영, 차영, 차영, 차]
Name: document, Length: 199992, dtype: object

In [13]:
# word2vec 모델 학습
model = Word2Vec(sentences= docs, vector_size= 200, window= 4, min_count= 2, sg= 1)

- word2vec의 주요 하이퍼파라미터
    - sentences : Word2Vec 모델 학습에 필요한 문장 데이터 
    - vector_size : 단어 임베딩 벡터의 차원(크기)
    - window : 주변 단어 윈도우의 크기 
    - min_count : 단어 최소 빈도 수 제한(설정된 min_count 빈도 수 미만의 단어들은 학습하지 않음) 
    - sg : 0(CBOW 모델), 1(skip gram 모델)

In [18]:
# 모델 저장
model.save('./model/nsmc_w2v.model')

In [19]:
# 학습된 말뭉치 개수, 코퍼스 내 전체 단어 개수
print('corpus_count :', model.corpus_count)
print('corpus_total_words :', model.corpus_total_words)

corpus_count : 199992
corpus_total_words : 1076840

# word2vec 모델 활용

In [20]:
# 모델 로딩
model = Word2Vec.load('./model/nsmc_w2v.model')
print(model.corpus_total_words)

1076840

In [21]:
# '사랑'이란 단어로 생성한 단어 임베딩 벡터
print('사랑 :', model.wv['사랑'])

사랑 : [ 0.0373017  -0.35084715  0.45483956  0.3296866  -0.16116355 -0.2692437
 -0.12032978  0.0154362   0.07584948  0.47460327  0.13526835 -0.1679363
  0.22463788 -0.00849538  0.11562859  0.5645117  -0.0160762  -0.29301378
 -0.26827842 -0.44970235  0.19681568  0.25663257 -0.04284914 -0.10023733
 -0.2856752   0.11311447  0.32814875 -0.03218634 -0.25222886 -0.38759047
  0.19051795  0.23350807 -0.09898081 -0.01578355  0.09551468  0.14253227
 -0.09646736 -0.0292216  -0.20397596  0.1385932  -0.339563    0.04493412
  0.26270938 -0.4123445   0.35169622  0.2379046  -0.21466078 -0.15512599
  0.2120809   0.13879716  0.22535323 -0.3451745  -0.21840538  0.19201872
 -0.20065373 -0.18804576 -0.12423304  0.12848455 -0.15699199  0.09948257
 -0.00868144 -0.24378668 -0.5169212   0.34777933 -0.0455278   0.19611384
 -0.29127598  0.26489645 -0.02906821  0.5834027   0.01262125 -0.13387702
  0.4481956   0.07308577  0.0943917  -0.2244936   0.12805781 -0.3870468
 -0.5731003  -0.40683544  0.12131705 -0.09892675 -0.46089843  0.3770615
 -0.432013    0.07123052 -0.21114273  0.32557517  0.06860881 -0.1988267
  0.3054028   0.25366145  0.4159888   0.25352344  0.21099     0.22989815
 -0.05627185 -0.08198199 -0.10123933  0.15660323 -0.5209672   0.70807946
  0.21136738  0.21310389 -0.06969419 -0.495023   -0.11058354  0.2148187
 -0.35856295 -0.27496588  0.08643456 -0.30905423  0.05592964  0.24922964
  0.18639047 -0.296973   -0.00358168  0.00181084  0.07604288 -0.04609469
  0.28671587 -0.1036244   0.08188935 -0.11662489  0.04498136  0.3332816
 -0.1614864  -0.01491054 -0.34034368  0.07989359 -0.06571812  0.5963652
  0.03659255  0.09533237 -0.03947574  0.04783792 -0.06758574  0.27798027
 -0.2013751  -0.19788036  0.35479197  0.16164635 -0.0977895  -0.10421953
 -0.12152601 -0.01795194 -0.05022482 -0.10941541  0.29479888 -0.24343972
 -0.10994304 -0.32808527  0.00764725  0.0313716   0.03319877  0.01133493
  0.06815277  0.07044871  0.23599504  0.05493914  0.42534295  0.23699908
  0.00826581  0.02568162  0.21372283  0.5848192  -0.00605838 -0.5894262
 -0.2420266  -0.06387369 -0.46349737 -0.2823123   0.38632652 -0.38737026
 -0.04034314 -0.09017587 -0.12439139 -0.01489889  0.18649034 -0.09888973
 -0.11655734  0.43484747  0.14976744 -0.09325346 -0.27393648 -0.01863572
 -0.03505123 -0.0435236   0.14576139  0.1098565   0.16851757  0.12635525
 -0.10859624 -0.2913536   0.1485555  -0.01085033  0.05738491 -0.48001495
 -0.16795641 -0.06791025]

- 모델을 학습할 때 설정한 vector_size 하이퍼파라미터 만큼 단어 임베딩 벡터 차원 크기가 결정됨

- model.wv.similarity()함수 : 두 단어간의 유사도를 계산

In [22]:
# 단어 유사도 계산
print('일요일 = 월요일', model.wv.similarity(w1 = '일요일', w2 = '월요일'), sep = '\t')

일요일 = 월요일	0.9109708

In [23]:
print('대기업 = 삼성', model.wv.similarity(w1 = '대기업', w2 = '삼성'), sep = '\t')

대기업 = 삼성	0.8949914

In [24]:
print('일요일 = 삼성', model.wv.similarity(w1 = '일요일', w2 = '삼성'), sep = '\t')

일요일 = 삼성	0.6590837

- model.wv.most_similar()함수 : 인자로 사용한 단어와 가장 유사한 단어를 리스트로 반환
    - 벡터 공간에서 가장 가까운 거리에 있는 단어들을 반환
    - topn : 반환되는 유사한 단어 수
- 유사도가 1에 가까울수록 두 단어는 동일한 의미이거나 문법적으로 관련이 있을 가능성이 높음

In [28]:
# 가장 유사한 단어 추출
print(model.wv.most_similar('시리즈', topn = 5))

[('엑스맨', 0.8057758212089539), ('스타워즈', 0.7975889444351196), ('반지의 제왕', 0.7968295216560364), ('미이라', 0.7928451299667358), ('포터', 0.7918878197669983)]

In [29]:
print(model.wv.most_similar('왕', topn = 5))

[('끝판', 0.7935803532600403), ('죤', 0.7612923979759216), ('피노키오', 0.7436968684196472), ('동', 0.7429763674736023), ('지대', 0.7364911437034607)]

In [33]:
import gensim

In [38]:
sentences = gensim.models.word2vec.Text8Corpus('./data/text8.txt')

In [40]:
model = Word2Vec(sentences, vector_size= 200)

In [42]:
model.wv.most_similar(positive = ['woman', 'king'], negative = 'man')

[('queen', 0.6336023807525635),
 ('throne', 0.558576762676239),
 ('daughter', 0.5444065928459167),
 ('elizabeth', 0.5411271452903748),
 ('empress', 0.5410109162330627),
 ('kings', 0.5354481339454651),
 ('son', 0.5277135968208313),
 ('pharaoh', 0.5267598628997803),
 ('princess', 0.5218906402587891),
 ('wife', 0.5154953598976135)]