In [30]:
# 1. 1부터 1000까지의 자연수 중 3배수의 합 구하기
# 166833

result = [num for num in range(1, 1000) if num % 3 == 0]

result

tot = 0
for n in result:
    tot += n
    
print(tot)

166833

In [46]:
result = 0

for i in range(1,1001):
    if i % 3 == 0:
        result += i
        
print(result)

166833

In [47]:
result = 0

for i in range(3, 1001, 3):
    result += i
    
print(result)

166833

In [48]:
# 2. 계단식으로 별 출력하기(첫 줄에는 *1개, 두번째 줄에는 *2개, ... 다섯번째 *5개)

# *
# **
# ***
# ****
# *****

In [86]:
s = "*"

for n in range(1,6):

    print(s * n)


# s * 1
# s * 2

*
**
***
****
*****

In [93]:
## 2-2

print("*" *1)
print("*" *2)
print("*" *3)
print("*" *4)
print("*" *5)

for i in range(1,6):
    print("*" * i)

*
**
***
****
*****
*
**
***
****
*****

In [94]:
## 2-3

star = ""

for _ in range(5):
    star += "*"
    print(star)

*
**
***
****
*****

In [123]:
## 2-1

for i in range(1,6):  # 줄에 대한 연산
    for j in range(1,6):  # 열에 대한 연산
        if j <= i:
            print("*", end = "")

    print() # 각 줄에 대한 연산이 끝난 후 줄바꿈

*
**
***
****
*****

In [131]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기

result = [num * 2 for num in range(1,10) if num % 2 == 1]

print(result)

[2, 6, 10, 14, 18]

In [132]:
result=[]

for i in range(1,11):  # 1부터 10까지 자연수 만들기
    if i % 2 ==1: # 홀수인지 검사
        result.append(i * 2)
print(result)

[2, 6, 10, 14, 18]

In [134]:
# 위 코드를 리스트 내포로 구현
[i*2 for i in range(1,11) if i % 2 == 1]

[2, 6, 10, 14, 18]

In [133]:
result = []
for i in range(1,11,2):  # 1부터 10까지의 홀수
    result.append(i * 2)
    
print(result)

[2, 6, 10, 14, 18]

In [135]:
# 위 코드를 리스트 내포로 구현
[i * 2 for i in range(1,11,2)]

[2, 6, 10, 14, 18]

In [28]:
# 4.화폐매수 구하기

a = 156780 #원 => 50000*3, 10000*0, 5000*1 ...
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

b1 = a // b[0]
b2 = (a - (b1 * b[0])) // b[1]
b3 = (a - (b1 * b[0])) // b[2]
b4 = (a - (b1 * b[0])-(b3 * b[2])) // b[3]
b5 = (a - (b1 * b[0])-(b3 * b[2])-(b4 * b[3])) // b[4]
b6 = (a - (b1 * b[0])-(b3 * b[2])-(b4 * b[3])-(b5 * b[4])) // b[5]
b7 = (a - (b1 * b[0])-(b3 * b[2])-(b4 * b[3])-(b5 * b[4])-(b6 * b[5])) // b[6]
b8 = (a - (b1 * b[0])-(b3 * b[2])-(b4 * b[3])-(b5 * b[4])-(b6 * b[5])- (b7 * b[6])) // b[7]

In [30]:
print(b1)
print(b2)
print(b3)
print(b4)
print(b5)
print(b6)
print(b7)
print(b8)

3
0
1
1
1
2
1
3

In [53]:
B = a
for i in b:
    A = B // i
    B = a % i
    
    print(f"{i} - {A}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [67]:
a = 156780 #원 => 50000*3, 10000*0, 5000*1 ...
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for i in b:
    n = a // i  # n은 몫
    a -= (n * i)
    print(f"{i} - {n}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [140]:
# 5. name과 data를 각각 리스트에 담기

q5 = [{"name" : "y1", "data" : "123"}, {"name" : "y2", "data" : "234"}]

name = []
data = []

In [141]:
print(q5[0]["name"])
print(q5[1]["name"])
print(q5[0]["data"])
print(q5[1]["data"])

y1
y2
123
234

In [229]:
q5 = [{"name" : "y1", "data" : "123"}, {"name" : "y2", "data" : "234"}]

name = []
data = []

for i in q5:
    name.append(i["name"])
    data.append(i["data"])
    
name

['y1', 'y2']

In [176]:
for i in range(len(name)):
    print(name[i], data[i])

y1 123
y2 234

In [178]:
for i in zip(name, data): 
    print(i[0], i[1])

y1 123
y2 234

In [182]:
for i in q5:
    print(i["name"], i["data"])

y1 123
y2 234

In [263]:
# 6. id, name, age 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기

q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

In [264]:
print(type(q6))

<class 'dict'>

In [265]:
print(q6["ret"]["id"])
print(q6["ret"]["name"])
print(q6["ret"]["age"])

print(q6["ret1"]["id"])
print(q6["ret1"]["name"])
print(q6["ret1"]["age"])

a386
123
34
a383
123
36

In [266]:
for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])
    
    
print(id_list)
print(name)
print(age)

['a386', 'a383']
['123', '123']
[34, 36]

In [267]:
Q = q6["ret"]
print(Q["id"])
print(Q["name"])
print(Q["age"])

print(Q["id"], Q["name"], Q["age"])

Q1 = q6["ret1"]
print(Q1["id"])
print(Q1["name"])
print(Q1["age"])

print(Q1["id"], Q1["name"], Q1["age"])

a386
123
34
a386 123 34
a383
123
36
a383 123 36

In [269]:
# 7. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기

q7 = {"ret":[{"id":"a2001","name":"123","age":34},
             {"id":"a2002","name":"123","age":54},
             {"id":"a2003","name":"123","age":36},
             {"id":"a2004","name":"123","age":38}],
      "ret1":[{"id":"a2005","name":"123","age":17},
              {"id":"a2006","name":"123","age":52},
             {"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

In [304]:
for i in q7:
    for item in q7[i]:
        print(item)
        id_list.append(item["id"])
        name.append(item["name"])
        age.append(item["age"])
        
print(id_list)
print(name)
print(age)

{'id': 'a2001', 'name': '123', 'age': 34}
{'id': 'a2002', 'name': '123', 'age': 54}
{'id': 'a2003', 'name': '123', 'age': 36}
{'id': 'a2004', 'name': '123', 'age': 38}
{'id': 'a2005', 'name': '123', 'age': 17}
{'id': 'a2006', 'name': '123', 'age': 52}
{'id': 'a2007', 'name': '123', 'age': 33}
['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007', 'a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33, 34, 54, 36, 38, 17, 52, 33]

In [305]:
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33
a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33

In [43]:
# 8. name, species, likes, dislikes 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력

q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},
      {"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},
      {"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

In [55]:
for j in q8:
    print(j)
    name.append(j["name"])
    species.append(j["species"])
    likes.append(j["foods"]["likes"])
    dislikes.append(j["foods"]["dislikes"])

{'name': 'AAA', 'species': 'cat', 'foods': {'likes': ['tuna', 'catnip'], 'dislikes': ['ham', 'zucchini']}}
{'name': 'BBB', 'species': 'dog', 'foods': {'likes': ['bones', 'carrots'], 'dislikes': ['tuna']}}
{'name': 'CCC', 'species': 'cat', 'foods': {'likes': ['mice'], 'dislikes': ['cookies']}}

In [56]:
print(name)
print(species)
print(likes)
print(dislikes)

['AAA', 'BBB', 'CCC']
['cat', 'dog', 'cat']
[['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
[['ham', 'zucchini'], ['tuna'], ['cookies']]

In [57]:
for i in range(len(name)):
    print(name[i], species[i], likes[i], dislikes[i])

AAA cat ['tuna', 'catnip'] ['ham', 'zucchini']
BBB dog ['bones', 'carrots'] ['tuna']
CCC cat ['mice'] ['cookies']

In [95]:
# 9. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기

q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},
                        {"id":"id2","name":"가나다2","age":32},
                        {"id":"id3","name":"가나다3","age":33},
                        {"id":"id4","name":"가나다4","age":34},
                        {"id":"id5","name":"가나다5","age":35}]
     }


id_list = []
name = []
age= []

print(q9.keys())

dict_keys(['ret', 'data'])

In [96]:
q9["data"][0]["id"],q9["data"][1]["id"],q9["data"][2]["id"],q9["data"][3]["id"]

('id1', 'id2', 'id3', 'id4')

In [97]:
q9["data"][0]["name"],q9["data"][1]["name"],q9["data"][2]["name"],q9["data"][3]["name"]

('가나다1', '가나다2', '가나다3', '가나다4')

In [98]:
q9["data"][0]["age"],q9["data"][1]["age"],q9["data"][2]["age"],q9["data"][3]["age"]

(31, 32, 33, 34)

In [99]:
for i in q9["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    
    
print(id_list)
print(name)
print(age)


# 바뀌는 것이 data의 인덱스 숫자만 바뀜 =>  for은 하나만 쓰면됨

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]

In [100]:
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [160]:
#10. id, name, age, math, eng, kor,(math, eng, kor)합계를 각각 리스트에 담고
# 각각의 요소를 짝지어 출력하기

q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31,"score":{"math":50,"eng":90,"kor":69}},
                         {"id":"id2","name":"가나다2","age":32,"score":{"math":90,"eng":68,"kor":80}},
                         {"id":"id3","name":"가나다3","age":33,"score":{"math":70,"eng":76,"kor":60}},
                         {"id":"id4","name":"가나다4","age":34,"score":{"math":80,"eng":79,"kor":50}},
                         {"id":"id5","name":"가나다5","age":35,"score":{"math":80,"eng":78,"kor":90}}]
      }


id_list = []
name = []
age = []
math = []
eng = []
kor = []
total = []

In [161]:
for i in q10["data"]:
   
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i["score"]["eng"])
    kor.append(i["score"]["kor"])
    total.append(i["score"]["math"]+i["score"]["eng"]+i["score"]["kor"])

In [162]:
print(id_list)
print(name)
print(age)
print(math)
print(eng)
print(kor)
print(total)

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]
[50, 90, 70, 80, 80]
[90, 68, 76, 79, 78]
[69, 80, 60, 50, 90]
[209, 238, 206, 209, 248]

In [163]:
for j in range(len(id_list)):
    print(id_list[j], name[j], age[j], math[j], eng[j], kor[j], total[j])

id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [164]:
for i in q10["data"]:
   
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i["score"]["eng"])
    kor.append(i["score"]["kor"])
    total.append(math[-1] + eng[-1] + kor[-1])
    print(math)
    print(eng)
    print(kor)
    print(total)
    
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i], math[i], eng[i], kor[i], total[i])

[50, 90, 70, 80, 80, 50]
[90, 68, 76, 79, 78, 90]
[69, 80, 60, 50, 90, 69]
[209, 238, 206, 209, 248, 209]
[50, 90, 70, 80, 80, 50, 90]
[90, 68, 76, 79, 78, 90, 68]
[69, 80, 60, 50, 90, 69, 80]
[209, 238, 206, 209, 248, 209, 238]
[50, 90, 70, 80, 80, 50, 90, 70]
[90, 68, 76, 79, 78, 90, 68, 76]
[69, 80, 60, 50, 90, 69, 80, 60]
[209, 238, 206, 209, 248, 209, 238, 206]
[50, 90, 70, 80, 80, 50, 90, 70, 80]
[90, 68, 76, 79, 78, 90, 68, 76, 79]
[69, 80, 60, 50, 90, 69, 80, 60, 50]
[209, 238, 206, 209, 248, 209, 238, 206, 209]
[50, 90, 70, 80, 80, 50, 90, 70, 80, 80]
[90, 68, 76, 79, 78, 90, 68, 76, 79, 78]
[69, 80, 60, 50, 90, 69, 80, 60, 50, 90]
[209, 238, 206, 209, 248, 209, 238, 206, 209, 248]
id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248
id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [172]:
# 11. 영화 제목만 추출된 리스트 생성하기

q11 = {"boxOfficeResult":{"boxofficeType":"일별 박스오피스","showRange":"20120101~20120101","dailyBoxOfficeList":[{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112207","movieNm":"미션임파서블:고스트프로토콜","openDt":"2011-12-15","salesAmt":"2776060500","salesShare":"36.3","salesInten":"-415699000","salesChange":"-13","salesAcc":"40541108500","audiCnt":"353274","audiInten":"-60106","audiChange":"-14.5","audiAcc":"5328435","scrnCnt":"697","showCnt":"3223"},
                                                                                                           {"rnum":"2","rank":"2","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20110295","movieNm":"마이 웨이","openDt":"2011-12-21","salesAmt":"1189058500","salesShare":"15.6","salesInten":"-105894500","salesChange":"-8.2","salesAcc":"13002897500","audiCnt":"153501","audiInten":"-16465","audiChange":"-9.7","audiAcc":"1739543","scrnCnt":"588","showCnt":"2321"},
                                                                                                           {"rnum":"3","rank":"3","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20112621","movieNm":"셜록홈즈 : 그림자 게임","openDt":"2011-12-21","salesAmt":"1176022500","salesShare":"15.4","salesInten":"-210328500","salesChange":"-15.2","salesAcc":"10678327500","audiCnt":"153004","audiInten":"-31283","audiChange":"-17","audiAcc":"1442861","scrnCnt":"360","showCnt":"1832"},
                                                                                                           {"rnum":"4","rank":"4","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113260","movieNm":"퍼펙트 게임","openDt":"2011-12-21","salesAmt":"644532000","salesShare":"8.4","salesInten":"-75116500","salesChange":"-10.4","salesAcc":"6640940000","audiCnt":"83644","audiInten":"-12225","audiChange":"-12.8","audiAcc":"895416","scrnCnt":"396","showCnt":"1364"},
                                                                                                           {"rnum":"5","rank":"5","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113271","movieNm":"프렌즈: 몬스터섬의비밀 ","openDt":"2011-12-29","salesAmt":"436753500","salesShare":"5.7","salesInten":"-89051000","salesChange":"-16.9","salesAcc":"1523037000","audiCnt":"55092","audiInten":"-15568","audiChange":"-22","audiAcc":"202909","scrnCnt":"290","showCnt":"838"},
                                                                                                           {"rnum":"6","rank":"6","rankInten":"1","rankOldAndNew":"OLD","movieCd":"19940256","movieNm":"라이온 킹","openDt":"1994-07-02","salesAmt":"507115500","salesShare":"6.6","salesInten":"-114593500","salesChange":"-18.4","salesAcc":"1841625000","audiCnt":"45750","audiInten":"-11699","audiChange":"-20.4","audiAcc":"171285","scrnCnt":"244","showCnt":"895"},
                                                                                                           {"rnum":"7","rank":"7","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20113381","movieNm":"오싹한 연애","openDt":"2011-12-01","salesAmt":"344871000","salesShare":"4.5","salesInten":"-107005500","salesChange":"-23.7","salesAcc":"20634684500","audiCnt":"45062","audiInten":"-15926","audiChange":"-26.1","audiAcc":"2823060","scrnCnt":"243","showCnt":"839"},
                                                                                                           {"rnum":"8","rank":"8","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112709","movieNm":"극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」","openDt":"2011-12-22","salesAmt":"167809500","salesShare":"2.2","salesInten":"-45900500","salesChange":"-21.5","salesAcc":"1897120000","audiCnt":"24202","audiInten":"-7756","audiChange":"-24.3","audiAcc":"285959","scrnCnt":"186","showCnt":"348"},
                                                                                                           {"rnum":"9","rank":"9","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113311","movieNm":"앨빈과 슈퍼밴드3","openDt":"2011-12-15","salesAmt":"137030000","salesShare":"1.8","salesInten":"-35408000","salesChange":"-20.5","salesAcc":"3416675000","audiCnt":"19729","audiInten":"-6461","audiChange":"-24.7","audiAcc":"516289","scrnCnt":"169","showCnt":"359"},
                                                                                                           {"rnum":"10","rank":"10","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112708","movieNm":"극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」","openDt":"2011-12-22","salesAmt":"125535500","salesShare":"1.6","salesInten":"-40756000","salesChange":"-24.5","salesAcc":"1595695000","audiCnt":"17817","audiInten":"-6554","audiChange":"-26.9","audiAcc":"235070","scrnCnt":"175","showCnt":"291"}]}
      }

In [178]:
for i in q11["boxOfficeResult"]["dailyBoxOfficeList"]:
    print(i["movieNm"])

미션임파서블:고스트프로토콜
마이 웨이
셜록홈즈 : 그림자 게임
퍼펙트 게임
프렌즈: 몬스터섬의비밀
라이온 킹
오싹한 연애
극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」
앨빈과 슈퍼밴드3
극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」

In [180]:
title = [i["movieNm"] for i in q11["boxOfficeResult"]["dailyBoxOfficeList"]]

title

['미션임파서블:고스트프로토콜',
 '마이 웨이',
 '셜록홈즈 : 그림자 게임',
 '퍼펙트 게임',
 '프렌즈: 몬스터섬의비밀 ',
 '라이온 킹',
 '오싹한 연애',
 '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」',
 '앨빈과 슈퍼밴드3',
 '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」']

In [326]:
# 12. 두 리스트를 조합해 하나의 딕셔너리를 만들기

key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = dic()

In [327]:
a = key_list
b = value_list

print(f"{a[0]} : {b[0]}")
print(f"{a[1]} : {b[1]}")
print(f"{a[2]} : {b[2]}")
print(f"{a[3]} : {b[3]}")

c = (f"{a[0]} : {b[0]}",f"{a[1]} : {b[1]}",f"{a[2]} : {b[2]}",f"{a[3]} : {b[3]}")

print(type(c))

name : 기사
hp : 200
mp : 30
level : 5
<class 'tuple'>

In [342]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]

character = dict()

# character[key_list[0]]= value_list[0]
# character[key_list[1]] = value_list[1]
# character[key_list[2]] = value_list[2]
# character[key_list[3]] = value_list[3]

# character

for i in range(4):  # for i in range(len(key_list)):
    print(i)
    character[key_list[i]]= value_list[i]
    
print(character)

0
1
2
3
{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [366]:
A = [1,2,3,4]
B = [5,6,7,8]

item = dict()

item[1] = 5
item[2] = 6
item[3] = 7
item[4] = 8

item

{1: 5, 2: 6, 3: 7, 4: 8}

In [367]:
item[A[0]] = B[0]
item[A[1]] = B[1]
item[A[2]] = B[2]
item[A[3]] = B[3]

item

{1: 5, 2: 6, 3: 7, 4: 8}

In [372]:
for i in range(len(A)):
    print(i)
    item[A[i]] = B[i]
    
print(item)

0
1
2
3
{2: 6, 3: 7, 4: 8, 1: 5}

In [369]:
del item[1]

In [371]:
item

{2: 6, 3: 7, 4: 8}

In [393]:
# 13. 리스트의 각 숫자가 몇 번 등장하는지 출력하는 코드 작성하기

numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

numbers.sort()


numbers

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6, 7, 7, 8, 8, 9, 9, 9]

In [394]:


counter[1] = numbers.count(1)
counter[2] = numbers.count(2)
counter[3] = numbers.count(3)
counter[4] = numbers.count(4)
counter[5] = numbers.count(5)
counter[6] = numbers.count(6)
counter[7] = numbers.count(7)
counter[8] = numbers.count(8)
counter[9] = numbers.count(9)

counter

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [397]:
numbers = [1, 2, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for i in range(1,10):
    print(i)
    if i not in numbers:
        continue
        
    counter[i] = numbers.count(i)
    
    
counter

1
2
3
4
5
6
7
8
9

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 7: 2, 8: 2, 9: 3}

In [405]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

# count() 함수 이용 방식
set(numbers)
for i in set(numbers):
    counter[i] = numbers.count(i)
    
print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [406]:
# 딕셔너리 내포

counter = {i : numbers.count(i) for i in set(numbers)}

print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [411]:
# 하나하나 뒤로 가면서 1의 개수가 몇개, 2의 개수가 몇개 늘려나가는 방식
# 하나하나 세는 방식

numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()



for num in numbers:
    counter[num] = counter[num] + 1
    # 오류가 나는 이유 : dict() 에 생성된 값이 없어서 오류
    # counter[1] = counter[1] + 1 ->1이라는 숫자를 세면서 하나하나 찾을때마다 +1

KeyError: 1

In [412]:
for num in numbers:
    if num in counter: # 해당 key가 딕셔너리 안에 있다면
        counter[num] = counter[num] + 1 # 값 수정
        
    else:  # 해당 key가 딕셔너리 안에 없다면
        counter[num] = 1 # 요소 추가
        
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [417]:
# 위 코드를 get() 메소드로 개선

numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for num in numbers:
    counter[num] = counter.get(num, 0) +1
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}