# 파이썬 함수의 구조

```
def 함수명(매개변수):
    수행할 문장
```

In [1]:
# welcome 함수 정의 # 함수는 동사가 나오는 경우가 많음
def welcome():
    print("Hello!")
    print("Nice to meet you")

In [4]:
welcome()  # 함수 호출 (call funcion)

Hello!
Nice to meet you

In [10]:
# add 함수 정의
def add(a, b):
    return a+b

In [11]:
c = add(3, 4)

print(c)

7

## 함수 사용의 장점

- 코드의 용도를 구분
- 코드 재사용이 용이
- 실수를 방지(오타 등)

#### 코드 만들기
- 일단 돌아가는 코드
- 반복되는 패턴 파악
- 함수 작성

# 매개변수와 인수

- 매개변수 : 함수에 입력으로 전달된 값을 받는 변수
- 인수 : 함수를 호출할 때 전달하는 입력값

- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해져서 구분하지 않는 경우도 많음

- 함수의 처리과정
    - 입력값 -> 함수 -> 결과값
    
- 함수의 사용법
    - 결과값을 받을 변수 = 함수이름(입력인수 1, 입력인수 2, .....)

In [3]:
def print_n_times(value, n):
    for _ in range(n): #for 다음 변수가 안나올 수 없는데 _는 실제 사용하지 않는 변수다
        print(value)

In [4]:
# 매개변수를 2개 지정하고 인수를 하나만 넣는다면 에러발생
print_n_times("안녕하세요")

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [7]:
# 지정한 매개변수보다 인수를 많이 넣으면 에러 발생

print_n_times("안녕하세요", 10, 20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

### 입력값이 없고 결과값이 있는 함수

- 함수 사용법
    - 결과값을 받을 변수 = 함수이름()

In [8]:
def say():
    return "Hi"

In [11]:
a = say()
print(a)

Hi

### 결과값이 없고 입력값이 있는 함수

- 함수 사용법
    - 함수이름(입력인수1, 입력인수2....)

In [13]:
def add(a,b):
    print(f"{a}, {b}의 합은 {a+b}입니다")  #return 으로 안써서 결과값이 없음

In [15]:
add(3,4) # 출력값

3, 4의 합은 7입니다

In [18]:
#결과값 확인

a = add(3,4)
print(a)

3, 4의 합은 7입니다
None

### 입력값도 결과값도 없는 함수

- 사용법
    - 함수이름()

In [23]:
def say():
    print("Hi")

In [26]:
say()
print(say())

Hi
Hi
None

## 매개변후 지정하여 호출하기

In [27]:
def add(a,b):
    print(f"{a}, {b}의 합은 {a+b}입니다")

In [28]:
add(a=3, b=7)

3, 7의 합은 10입니다

In [29]:
add(a = 7, b=3)

7, 3의 합은 10입니다

In [30]:
add(b=5, a=3)

3, 5의 합은 8입니다

# 함수의 결과값

In [31]:
def add_and_mul(a,b):
    return a+b, a*b

In [33]:
result = add_and_mul(3,4)

# 결과값은 하나,하나의 튜플로 반환됨
print(result)

(7, 12)

In [34]:
# 2개의 결과값처럼 받을 수 있음
result1, result2 = add_and_mul(3,4)
print(result1, result2)

7 12

In [35]:
def add_and_mul(a,b):
    return a + b
    return a * b

In [37]:
# 함수는 return을 만나는 순간 함수 실행이 종료됨


result = add_and_mul(2,3)
print(result)

5

### return

- 함수를 종료시키고 싶을 때 사용할 수도 있음

In [38]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"나의 별명은 {nick} 입니다")

In [42]:
say_nick("멍청이")

나의 별명은 멍청이 입니다

In [43]:
say_nick("바보")

# 디폴트 매개변수

- 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 값

In [97]:
def say_myself(name, old, man = True):
    print(f"나의 이름은 {name}입니다")
    print(f"나이는 {old} 살입니다")
    
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [46]:
say_myself("파이썬",27)

나의 이름은 파이썬입니다
나이는 27 살입니다
남자입니다

In [48]:
say_myself("파이썬",27, True)

나의 이름은 파이썬입니다
나이는 27 살입니다
남자입니다

In [49]:
say_myself("파이썬", 27, False)

나의 이름은 파이썬입니다
나이는 27 살입니다
여자입니다

In [52]:
def print_n_times(value, n = 2):
    for _ in range(n):
        print(value)

In [53]:
print_n_times("안녕하세요")

안녕하세요
안녕하세요

## 디폴트 매개변수의 위치

In [56]:
# 파이썬은 인수를 어디에 대입해야 할 지 알 수 없음. 기본변수 뒤에 매개변수X

def say_myself(name, old, man = True, old):
    print(f"나의 이름은 {name}입니다")
    print(f"나이는 {old} 살입니다")
    
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

SyntaxError: non-default argument follows default argument (1622474856.py, line 3)

# 지역변수와 전역변수

- 지역변수
    - 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
    - 함수 외부에서는 지역변수 접근할 수 없음
    
- 전역변수
     - 함수 외부에서 선언한 변수는 함수 내부에서도 사용 가능

In [61]:
def vartest():
    d = 10
    print(d)

In [62]:
vartest()

10

In [65]:
print(d)

NameError: name 'd' is not defined

In [66]:
e=10

def etest():
    print(e)

In [67]:
etest()

10

In [68]:
print(e)

10

### 전역변수를 함수 내부에서 사용하는 2가지 경우

- 단순 참조
- 전역변수의 값을 변경하고 싶은 경우

In [69]:
a = 0

def f():
    a = 10
    print(a)

In [70]:
f()

10

In [73]:
print(a)  #함수밖에서 사용한 a가 우선

0

In [74]:
def f():
    global a # 전역변수 a 사용
    a = 10
    print(a)

In [75]:
f()

10

In [77]:
print(a)

10

# 가변 매개변수(여러 개의 입력값을 받는 함수)

- 함수로 전달해야하는 인수의 개수가 정해지지 않은 매개변수
- 함수 정의시 매개변수 앞에 * 를 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달

- 가변 매개변후의 제약
    - 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음
    - 가변 매개변수는 하나만 사용할 수 있음

In [78]:
def show(*args):
    print(args)

In [79]:
show("Python")

('Python',)

In [80]:
show("happy", "birthday")

('happy', 'birthday')

In [82]:
show("Hi", 2, 3)

('Hi', 2, 3)

In [94]:
def add_many(*args):
    result = 0
    
    for i in args:
        result += i
        
    return result

In [95]:
result = add_many(1, 2, 3)
print(result)

6

In [96]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [91]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
            
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
            
    return result

In [92]:
result = add_mul("add", 1,2,3,4,5)
print(result)

15

In [93]:
result = add_mul("mul", 1,2,3,4,5)
print(result)

120

# 함수 매개변수 순서

1. 일반 매개변수
2. 디폴트 매개변수
3. 가변 매개변수
4. 키워드 매개변수

# 키워드 매개변수

In [101]:
def print_kwargs(**kwargs):  # ** 는 키워드 매개변수
    print(kwargs)

In [102]:
print_kwargs(a = 1)

{'a': 1}

In [103]:
print_kwargs(name = "foo", age = 3)

{'name': 'foo', 'age': 3}

In [ ]:

# 다음과 같은 데이터를 출력하는 파이썬 프로그램을 제어문으로 작성하시오

 

 
*
***
*****
***
*

In [25]:
print("*" * 1)
print("*" * 3)
print("*" * 5)
print("*" * 3)
print("*" * 1)

*
***
*****
***
*

In [32]:
for i in range(1,6):
    
     if i % 2 ==1:
        print(i * "*")

*
***
*****

	
아래에 주어진 numbers와 output을 활용하여 output이

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

로 구성되도록 파이썬 제어문으로 코드를 작성하시오

 

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

output = [[], [], []]

In [86]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

result = []

for a in numbers[0:10:3]:
   result.append(a)
   

result1 = []
for b in numbers[1:10:3]:
   result1.append(b)
   
result2 = []
for c in numbers[2:10:3]:
   result2.append(c)
   
d = [result, result1, result2]

print(d)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [87]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[],[],[]]

for i in numbers:
    for j in range(3):
        if i % 3 == j:
            output[j - 1].append(i)