# 내장함수

- 외부모듈이 아닌 파이썬에 내장된 함수
- print(), input(), len(), map(), ........

## 문자열 내장 함수

### 1. chr() / ord()

- 모든 문자는 각각 문자 코드라고 하는 자신만의 코드 값이 있음
- chr() : 특정 문자의 유니코드 값을 전달하면 해당 문자를 반환
- ord() : 문자를 전달하면 해당 문자의 유니코드 값을 반환

In [1]:
ord("0")

48

In [2]:
ord("1")

49

In [3]:
chr(48)

'0'

In [4]:
chr(49)

'1'

In [5]:
ord("a"), ord("z")

(97, 122)

In [7]:
chr(98)

'b'

### 2. eval()

- 표현식을 문자열로 전달하면 결과값을 반환

In [10]:
eval("100 + 200") # 코드를 실행시켰을 때의 결과값을 그대로 보여줌

300

In [11]:
a = 10

eval("a * 5")

50

In [12]:
eval("min(1,2,3)")

1

In [14]:
eval("[1,2,3]") # "[1,2,3]" 은 문자열인데 eval 사용하면 리스트로 표현해줌

[1, 2, 3]

In [15]:
str(True)

'True'

## 숫자 내장 함수

### 1. abs()

- 절대값을 반환

In [17]:
abs(20)

20

In [16]:
abs(-10)

10

### 2. divmod()

- 전달된 두 인수를 나누어 몫과 나머지를 반환

In [18]:
divmod(10, 3)

(3, 1)

In [19]:
money = 10000
price = 3000

n, remain = divmod(money, price)

print(f"빵을 {n}개 사고 {remain}원이 남았습니다")

빵을 3개 사고 1000원이 남았습니다

### 3. max() / min()

- 전달된 인수 중 최댓값을 반환 / 최솟값을 반환

In [20]:
max(1, 10)

10

In [21]:
min(1, 10)

1

In [22]:
li = [1,2,3,4,5]

print(max(li))
print(min(li))

5
1

### 4. pow()

- 두 인수의 거듭제곱을 반환

In [23]:
pow(10, 2)

100

In [24]:
pow(10, 3)

1000

In [25]:
pow(10, -2)

0.01

In [26]:
pow(10, -3)

0.001

### 5. round()

- 반올림한 값을 반환

In [27]:
round(1.5)

2

In [29]:
round(1.3)

1

In [31]:
round(2.5)  # 앞 숫자가 짝수일 때는 2.499999 이렇게 생각을 해서 2로 출력

2

### 6. sum()

- 합계를 반환
- 숫자가 아닌 값은 전달 불가능

In [32]:
li = [1,2,3,4,5]
sum(li)

15

In [33]:
"h" + "e" + "l"

'hel'

In [34]:
li = ["h", "e", "l"]
sum(li)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
# float(), int() 도 내장함수

## 시퀀스 내장 함수

### 1. enumerate()

- 리스트에 저장된 요소와 인덱스가 함께 추출

In [37]:
for idx, elument in enumerate(["가위", "바위", "보"]):
    print(idx, elument)

0 가위
1 바위
2 보

### 2. range() 

- 특정 범위의 값을 생성
- 주로 for 문과 함께 사용
- list() 함수로 리스트로 변환해서 사용하기도 함


```
range(stop종료값)
range(start시작값, stop)
range(start, stop. step)

start <= n < stop

```

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
list(range(0, 30, 5))

[0, 5, 10, 15, 20, 25]

In [42]:
list(range(0,10,3))

[0, 3, 6, 9]

In [44]:
list(range(0, 10, -1))

[]

In [45]:
list(range(0,-20,-3))

[0, -3, -6, -9, -12, -15, -18]

In [46]:
list(range(0))

[]

In [47]:
list(range(1,0))

[]

### 3. len()

- 객체의 길이(항목의 수)를 반환

In [50]:
li= ["a", "b", "c", "d"]
len(li)

4

In [52]:
d = {"a" : "apple", "b" : "banana"}
len(d)  # key값에 따라 len 출력

2

In [53]:
len(range(10))

10

In [54]:
len(range(1,10))

9

### 4. sorted()

- 오름차순, 내림차순 정렬 결과를 반환

In [55]:
my_list = [ 6, 3, 1, 2, 5, 4]

In [56]:
sorted(my_list)

[1, 2, 3, 4, 5, 6]

In [57]:
sorted(my_list, reverse = False)   # 오름차순

[1, 2, 3, 4, 5, 6]

In [58]:
sorted(my_list, reverse = True)   # 내림차순

[6, 5, 4, 3, 2, 1]

In [59]:
my_list  # my_list 변수 자체가 정렬이 되는 것은 아님 / 비파괴적

[6, 3, 1, 2, 5, 4]

In [60]:
my_list = sorted(my_list)
my_list

[1, 2, 3, 4, 5, 6]

### 5. zip()

- 여러 개의 반복가능객체의 각 요소를 묶어서 반환
- 전달된 객체들의 길이가 다르면 짧은 객체를 기준으로 동작

In [63]:
names = ["james", "emily", "amanda"]
scores = [60, 70, 80]

for name, score in zip(names, scores):
    print(f"{name}의 점수는 {score}점 입니다")

james의 점수는 60점 입니다
emily의 점수는 70점 입니다
amanda의 점수는 80점 입니다