In [37]:
# while True :
   
    # menu = int(input('1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료'))

In [38]:

member = {"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},
                            {"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},
                            {"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},
                            {"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},
                            {"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}

In [39]:
class Customer:
    def __init__(self, id, name, age, height, weight):
        self.id = id
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        
    def print_info(self):
        print(self.id, self.name, self.age, self.height, self.weight, sep="\t")

In [40]:
db = []

for i in member["data"]:
    db.append(Customer(i["id"], i["name"], i["age"], i["height"], i["weight"]))

In [ ]:
while True:
    menu = int(input('1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료'))
    
    if menu == 0: #  종료
        break
    elif menu == 1: # 추가
        id, name, age, height, weight = map(str, input("아이디, 이름, 키, 몸무게 입력하세요").split(","))
        db.appended(Customer(id, name, int(age), float(height), float(weight)))
        
    elif menu == 2: # 수정
        id = input("수정 id 입력")
        name = input("이름")
        age = int(input("나이"))
        height = float(input("키"))
        weight = float(input("몸무게"))
        
        for idx, cus in enumerate(db):
            if cus.id == id:
                db[idx] = Customer(id, name, age, height, weight)
                break
                
    elif menu == 3: # 삭제
        s = input("삭제할 id 입력")
        for idx, cus in enumerate(db):
            if cus.id == s:
                cus.print_info()
                del db[idx]
                break
                
    elif menu == 4: # 목록
        for i in db:
            i.print_info()

1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료3
삭제할 id 입력a
a 가나다1 61 165.4 60.2
1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료4
b 가나다2 32 185.4 80.3
c 가나다3 13 145.8 60.6
d 가나다4 44 165.7 44.5
e 가나다5 85 165.2 42.3
1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료1