In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from matplotlib import font_manager, rc
import matplotlib
font_path = 'C:/Windows/Fonts/malgun.ttf'
font_name = font_manager.FontProperties(fname = font_path).get_name()
rc('font', family=font_name)

# 데이터 확인

In [4]:
df = pd.read_csv("./data/seoul.csv", skiprows = 6)
df.head()

             날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  \t1907-10-01  108     13.5      7.9     20.7
1  \t1907-10-02  108     16.2      7.9     22.0
2  \t1907-10-03  108     16.2     13.1     21.3
3  \t1907-10-04  108     16.5     11.2     22.0
4  \t1907-10-05  108     17.6     10.9     25.4

In [5]:
df.shape

(42095, 5)

In [6]:
df.dtypes

날짜          object
지점           int64
평균기온(℃)    float64
최저기온(℃)    float64
최고기온(℃)    float64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42095 entries, 0 to 42094
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       42095 non-null  object
 1   지점       42095 non-null  int64
 2   평균기온(℃)  41339 non-null  float64
 3   최저기온(℃)  41336 non-null  float64
 4   최고기온(℃)  41336 non-null  float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.6+ MB

In [8]:
df.describe()

            지점       평균기온(℃)       최저기온(℃)       최고기온(℃)
count  42095.0  41339.000000  41336.000000  41336.000000
mean     108.0     11.777776      7.490495     16.777593
std        0.0     10.661494     10.889021     10.975401
min      108.0    -19.200000    -23.100000    -16.300000
25%      108.0      2.700000     -1.400000      7.300000
50%      108.0     13.000000      8.000000     18.600000
75%      108.0     21.200000     17.100000     26.300000
max      108.0     33.700000     30.300000     39.600000

In [10]:
# 날짜 이상데이터 제거
df["날짜"] = df["날짜"].str.strip()

In [11]:
df.head()

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  1907-10-01  108     13.5      7.9     20.7
1  1907-10-02  108     16.2      7.9     22.0
2  1907-10-03  108     16.2     13.1     21.3
3  1907-10-04  108     16.5     11.2     22.0
4  1907-10-05  108     17.6     10.9     25.4

In [12]:
import scipy
scipy.__version__

'1.11.1'