In [1]:
import pandas as pd
import numpy as np

# 문제1. 데이터프레임을 iris 변수로 읽기

In [14]:
iris = pd.read_csv("./data/iris.csv")
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

# 아래 코드를 실행해주세요

In [15]:
iris.iloc[10:30,2:3] = np.nan

# 문제2. 데이터프레임에 누락값이 있는지 확인

In [16]:
iris.isna().sum()

SepalLength     0
SepalWidth      0
PetalLength    20
PetalWidth      0
Species         0
dtype: int64

# 문제3. 결측치에 1 채워넣기

In [17]:
iris = iris.fillna(1)

In [18]:
iris.isna().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

In [19]:
iris.iloc[10:30,2:3]

    PetalLength
10          1.0
11          1.0
12          1.0
13          1.0
14          1.0
15          1.0
16          1.0
17          1.0
18          1.0
19          1.0
20          1.0
21          1.0
22          1.0
23          1.0
24          1.0
25          1.0
26          1.0
27          1.0
28          1.0
29          1.0

# 문제4. Species 컬럼 삭제하기

In [20]:
iris = iris.drop("Species", axis = 1)

In [21]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

# 아래 코드를 실행해주세요

In [22]:
iris.iloc[0:3 ,:] = np.nan

# 문제5. 결측치가 존재하는 행 삭제하기

In [25]:
iris = iris.dropna(axis = 0)

In [26]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2

# 문제6. 인덱스가 0부터 시작하도록 재설정

In [29]:
iris = iris.reset_index(drop = True)

In [30]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          4.6         3.1          1.5         0.2
1          5.0         3.6          1.4         0.2
2          5.4         3.9          1.7         0.4
3          4.6         3.4          1.4         0.3
4          5.0         3.4          1.5         0.2