여러분은 왜 개 사료가 예상보다 빨리 상하게 되는지를 파악하기위해 개 사료 회사에 고용되었습니다. 안 좋은 소식은 이 회사는 한동안 장비를 업그레이드 하지 않았습니다. 즉, 이 회사에서 사용하는 5가지 방부제의 사용 용량이 중구난방이라는 뜻입니다. 하지만 그 중에서 가장 많은 영향을 끼치는 것이 무엇일까요?<br>
이 회사에서는 먼저 4가지 방부제(A, B, C, D)가 함유된 방부제 묶음을 섞은 뒤 '필러'라는 화학물질로 마무리합니다. 식품과학자들은 A, B, C, D 방부제 중 하나가 문제를 일으키고 있다고 생각하지만, 그게 어떤 것인지 명확하게 하기위해 여러분이 고용됐습니다. "랜덤포레스트"로 어떤 방부제가 사료를 빨리 상하게 하는지 찾아보세요!

- Pres_A : 혼합물의 A비율
- Pres_B : 혼합물의 B비율
- Pres_C : 혼합물의 C비율
- Pres_D : 혼합물의 D비율
- Spoiled : 개 사료가 상했는지 여부를 나타내는 레이블.

**시나리오에서 요구하는 바를 고려하여, 머신러닝을 이용해서 문제를 풀어보세요.**

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [2]:
df = pd.read_csv('./data/dog_food.csv')

In [3]:
df.head()

   A  B     C  D  Spoiled
0  4  2  12.0  3      1.0
1  5  6  12.0  7      1.0
2  6  2  13.0  6      1.0
3  4  2  12.0  1      1.0
4  4  2  12.0  3      1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   A        490 non-null    int64
 1   B        490 non-null    int64
 2   C        490 non-null    float64
 3   D        490 non-null    int64
 4   Spoiled  490 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 19.3 KB

In [5]:
df.describe()

                A           B           C           D     Spoiled
count  490.000000  490.000000  490.000000  490.000000  490.000000
mean     5.534694    5.504082    9.126531    5.579592    0.285714
std      2.951520    2.853797    2.055545    2.854837    0.452216
min      1.000000    1.000000    5.000000    1.000000    0.000000
25%      3.000000    3.000000    8.000000    3.000000    0.000000
50%      5.000000    6.000000    9.000000    6.000000    0.000000
75%      8.000000    8.000000   11.000000    8.000000    1.000000
max     10.000000   10.000000   14.000000   10.000000    1.000000

In [6]:
df.shape

(490, 5)