In [1]:
a = [1,2,3]
b = a

a[1] = 4
print(b)

[1, 4, 3]

In [10]:
print("".join(["you","need","python"]))

youneedpython

In [4]:
"you" + "need" + "python"

'youneedpython'

In [8]:
print("you","need","python")

you need python

In [17]:
a = [1,2,3]

print(type(a + [4,5]))

<class 'list'>

[1, 2, 3]

In [12]:
a.extend([4,5])

In [18]:
print(type(a))

<class 'list'>

In [21]:
f = open("customer.txt", "r")
line = f.readlines()
print(line)

['a,가나다1,61,165.4,60.2\n', 'b,가나다2,32,185.4,80.3\n', 'c,가나다3,13,145.8,60.6\n', 'd,가나다4,44,165.7,44.5\n', 'e,가나다5,85,165.2,42.3\n']

In [22]:
member = ['a,가나다1,61,165.4,60.2\n', 
 'b,가나다2,32,185.4,80.3\n', 
 'c,가나다3,13,145.8,60.6\n', 
 'd,가나다4,44,165.7,44.5\n', 
 'e,가나다5,85,165.2,42.3\n']

In [23]:
class Customer:
    def __init__(self, id, name, age, height, weight):
        self.id = id
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        
    def print_info(self):
        print(self.id, self.name, self.age, self.height, self.weight, sep = " ")

In [25]:
Customer

__main__.Customer

In [27]:
db = []
for i in member:
    db.append(Customer(i[0],i[1],i[2],i[3],i[4]))

In [28]:
db

[<__main__.Customer at 0x212713cba10>,
 <__main__.Customer at 0x212718c0190>,
 <__main__.Customer at 0x212712ec610>,
 <__main__.Customer at 0x212712ec450>,
 <__main__.Customer at 0x212712f9b90>]

In [ ]:
while True :
    menu = int(input('1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료'))
    
    if menu == 0:
        break
        
    elif menu == 1:
        id, name, age, height, weight = map(str, input("id, 이름, 나이, 키, 몸무게를 입력하세요").split(","))
        db.append(Customer(id, name, int(age), float(height), float(weight)))
        
    elif menu == 2:
        id = input("바꿀 id 입력")
        name = input("이름 수정")
        age = int(input("나이 수정"))
        height = float(input("키 수정"))
        weight = float(input("몸무게 수정"))
        
        for idx, cus in enumerate(db):
            if cus.id == id:
                db[idx] = Customer(id, name, age, height, weight)
                break
            
    elif menu == 3:
        s = input("삭제할 id")
        for idx, cus in enumerate(db):
            if cus.id == s:
                cus.print_info()
                del db[idx]
                break
                
    elif menu == 4:
        for i in db:
            i.print_info()

1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료3
삭제할 ida
a , 가 나 다
1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료7
1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료4
b , 가 나 다
c , 가 나 다
d , 가 나 다
e , 가 나 다